*~
*.swo
*.swp
.settings
.project
.pydevproject
sacrud_catalog/.coverage
sacrud_catalog/TODO
*.pyc
sacrud_catalog/cover
cover
.coverage
build
dist
*.egg-info
TODO
TODO.txt
nohup.out
.cache
example.sqlite
test.sqlite
